<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker - Nintempo</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-content">
            <h1>GROUPIE TRACKER</h1>
            
            <div class="search-container">
                <input type="text" id="searchBar" placeholder="Rechercher...">
                <button id="theme-toggle">🌙</button>
            </div>
        </div>
    </nav>

    <main>
        <div class="header-title">Ma Collection</div>
        <div class="card-grid">
            {{range .}}
            <a href="/artist?id={{.ID}}" class="ds-cartridge">
                <div class="cartridge-plastic">
                    <div class="arrow-insert">▼</div>
                    
                    <div class="cartridge-sticker">
                        <div class="ds-header">
                            <span class="logo-bold">Nintempo</span>
                            <span class="logo-light">DS</span>
                        </div>
                        <img src="{{.Image}}" alt="{{.Name}}">
                    </div>

                    <div class="engraved-title">
                        {{.Name}}
                    </div>

                    <div class="gold-contacts">
                        <span></span><span></span><span></span><span></span><span></span><span></span>
                    </div>
                </div>
            </a>
            {{end}}
        </div>
    </main>

<script src="/static/js/script.js?v=2"></script>
</body>
</html>