<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="nav-content">
            <h1>GROUPIE TRACKER</h1>
            <input type="text" id="searchBar" placeholder="Rechercher...">
        </div>
    </nav>

    <main>
        <div class="card-grid">
            {{range .}}
            <a href="/artist?id={{.ID}}" class="card">
                <div class="card-image">
                    <img src="{{.Image}}" alt="{{.Name}}">
                </div>
                <div class="card-info">
                    <h2>{{.Name}}</h2>
                    <p class="creation">Création : {{.CreationDate}}</p>
                    <p class="album">1er Album : {{.FirstAlbum}}</p>
                </div>
            </a>
            {{end}}
        </div>
    </main>
</body>
</html>